.tax-xtt-pa-region {
  .pa-content {
    label {
      color: #00336666;
      display: flex;
      align-items: center;
    }
  }
}

.single-districts {
  .pa-content{
    img {
      object-fit: cover;
    } 
  }
}
